.content {
    width: 100%;
}



.characteristics {
    padding-left: 10px;
    padding-top: 10px;
    margin-left: 57px;
    float: left;
    position: relative;
    width: 45%;
    height: auto;
}

.prices {
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    position: relative;
    float: left;
    width: 45%;
    height: auto;
}

.oferta {
    text-align: left;
    padding: 10px;
    position: relative;
    float: left;
    width: 50%;
    height: auto;
}